@mixin flex($c: row) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: $c;
}

.el-pagination {
	margin: 2px;
  text-align: center;
}

.el-table {
  >>> .el-table__body-wrapper::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  >>> .el-table__body-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c0c0c0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  >>> .el-table__body-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ededed;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
}